* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__left {
  flex: 7;
  padding-left: 20px;
  padding-right: 40px;
}

.app__right {
  width: 530px;
  padding-left: 20px;
  padding-right: 20px;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__graph {
  margin-top: 1rem;
}

.app__graph_options {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.app__us_toggle {
  background-color: white;
  margin-top: 12px;
  box-shadow: 0 3px 8px -4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.app__toggle_formgroup {
  margin: 0 auto;
  padding-left: 20px;
}



@media (max-width: 1440px) {
  .app {
    flex-direction: column;
  }

  .app__left {
    padding-right: 20px;
  }
  
  .app__right {
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  
}

